html, body {
	height:100%;
	padding:0px;
	margin:0px;
	font-family:Tahoma, sans-serif;
	font-size:12px;
}
aside {
	position: fixed;
	height:100px;
	width:100%;
	bottom:0px;
	border-top:1px solid #ccc;
	text-align:center;
	background-color: #EFEFEF;
}

aside table{
	margin: 0 auto;
}
section{
	text-align:center;
	padding-top:20px;
}
img#graph {
	
	border:1px solid #ccc;
	width:600px;
	height:400px;
}
input.error {
	background-color:red;
}